/* BORDER BOX !! */
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
*/


/* begin styling */
html {
    background-color: #111;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    font-family: 'Avenir Next W10 Medium', Helvetica;
}

h1, h2, h3, h4, h5, h6, .medium {
    font-family: 'Avenir Next W10 Medium', Helvetica;
}

p, a, .thin {
    font-family: 'Avenir Next W10 Thin', Helvetica;
}

.regular {
    font-family: 'AvenirNextLTW02-Regular', Helvetica;
}

h1  { font-size: 48px; }
h2  { font-size: 36px; }
h3  { font-size: 24px; }
h4  { font-size: 18px; }
h5  { font-size: 14px; }
p,a { font-size: 14px; }
h6  { font-size: 10px; }


.backface-visible {
    backface-visibility: visible;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
}

.left       { float: left; }
.right      { float: right; }
.inline     { display: inline; }
.block      { display: block; }
.clear      { clear: both; }
.absolute   { position: absolute }

.no-user-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.moveable-time {
    color: #45484d;
}
.moveable-bg {

    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(top,  #45484d 0%, #404247 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#404247)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #45484d 0%,#404247 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #45484d 0%,#404247 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #45484d 0%,#404247 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #45484d 0%,#404247 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#404247',GradientType=0 ); /* IE6-9 */


    //background-color: rgba( 240, 240, 240, 1.0 );

    //border-top:1px solid #505359;
    border-top:1px solid #4F5154;
    border-bottom:1px solid #393B3F;
}


.fader-surface-0 {
    background: #1e5799; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #1e5799 0%, #2989d8 50%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #1e5799 0%,#2989d8 50%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #1e5799 0%,#2989d8 50%,#7db9e8 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #1e5799 0%,#2989d8 50%,#7db9e8 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #1e5799 0%,#2989d8 50%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.moveable-innerBG {
//    border-bottom: 2px solid #fff;
    width: 20%;
    margin-left: 40%;
    height: 50%;
    float: left;
}

.settings-title {
}

.timeUntil {
    padding-left: 1%;
}

.alarm-name
{
    float: left;
}

.alarm-time
{
  float: right;
}

.padl5 {
   padding-left: 2.5%;
}

.alarm-container {
    width:100%;
}

.input-name {
    outline: none;
    border: none;
    text-align: center;
}

.input-name:focus {
    outline: none;
}
